@model WebApp.Models.ViewUserViewModel

<h2>@(Model.User.Name) (@(Model.User.Id))</h2>

<dl>
    <dt>Id</dt>
    <dd>@Model.User.Id</dd>
    <dt>Name</dt>
    <dd>@Model.User.Name</dd>
    <dt>Email</dt>
    <dd>@Model.User.Email</dd>
    <dt>Username</dt>
    <dd>@Model.User.UserName</dd>
</dl>

<app-root></app-root>

<script>
    var vm = @Html.Json(Model);
</script>